@charset "UTF-8";
html {
  box-sizing: border-box;
}

/* НАСЛЕДОВАНИЕ */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/*Обнуление*/
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.title {
  display: none;
}

ul {
  list-style: none;
  padding: 0px;
}

button {
  cursor: pointer;
}

body {
  color: var(--primery-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

:root {
  --primery-text-color: #757575;
  --secondary-text-color:#212121;
  --accent-text-color:#2196F3;
  --white-color:#FFFFFF;
  --background-color:#2F303A;
  --background-color-button:#F5F4FA;
  --transform--:250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

/*Логотип*/
.logo {
  color: var(--accent-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.header {
  border-bottom: 1px solid #ECECEC;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .header__container {
    justify-content: start;
  }
}

.header__nav {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .header__nav {
    display: none;
  }
}
.header__top-logo {
  padding-top: 16px;
  padding-bottom: 16px;
}

.header__logo {
  color: #000000;
}

.burger-menu__open {
  border: none;
  background-color: white;
  line-height: 0;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .burger-menu__open {
    display: none;
  }
}

.burger-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 2;
  visibility: visible;
  opacity: 1;
  background-color: #fff;
  transition: var(--transform--);
}

.burger-menu__container {
  position: relative;
  padding: 48px 40px;
}

.burger-menu__close {
  position: absolute;
  padding: 0;
  top: 10px;
  right: 15px;
  border: none;
  background-color: #fff;
  transition: fill var(--transform--);
}
.burger-menu__close:hover {
  fill: var(--accent-text-color);
}
.burger-menu__close:focus {
  fill: var(--accent-text-color);
}

.mob-nav {
  margin-bottom: 302px;
}

.mob-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-nav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.mob-nav__link--current {
  color: var(--accent-text-color);
}

.mob-auth-nav {
  margin-bottom: 64px;
}

.mob-auth-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-auth-nav__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--accent-text-color);
}

.mob-auth-nav__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
}

.burger-soc {
  display: flex;
}

.burger-soc__item {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-text-color);
  padding-right: 10px;
}
.burger-soc__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.burger-soc__item:not(:first-child) {
  padding-left: 10px;
}

.site-nav {
  display: flex;
}
@media screen and (max-width: 768px) {
  .site-nav {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .site-nav {
    margin-left: 93px;
  }
}

.site-nav__item + .site-nav__item {
  margin-left: 50px;
}

.site-nav__link {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: block;
  padding: 32px 0;
  transition: color var(--transform--);
}
.site-nav__link:hover {
  color: var(--accent-text-color);
}
.site-nav__link:focus {
  color: var(--accent-text-color);
}
@media screen and (max-width: 768px) {
  .site-nav__link {
    display: none;
  }
}

.site-nav__link--current {
  color: var(--accent-text-color);
  position: relative;
}
@media screen and (max-width: 768px) {
  .site-nav__link--current {
    display: none;
  }
}

.site-nav__link--current::after {
  content: "";
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 4px;
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 2px;
  transform: translateY(1px);
}
@media screen and (max-width: 768px) {
  .site-nav__link--current {
    display: none;
  }
}

.auth-nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: start;
}
@media screen and (max-width: 768px) {
  .auth-nav {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .auth-nav {
    flex-direction: row;
    margin-left: auto;
  }
}

.auth-nav__item {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .auth-nav__item {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .auth-nav__item {
    margin-right: 50px;
  }
}

.auth-nav__link {
  color: var(--primery-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: color var(--transform--);
}
.auth-nav__link:hover {
  color: var(--accent-text-color);
}
.auth-nav__link:focus {
  color: var(--accent-text-color);
}
@media screen and (max-width: 768px) {
  .auth-nav__link {
    display: none;
  }
}

.auth-nav__svg {
  fill: currentColor;
  margin-right: 10px;
}
@media screen and (max-width: 768px) {
  .auth-nav__svg {
    display: none;
  }
}

.section-hero {
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: var(--background-color);
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/img.jpg");
}
@media screen and (min-width: 1200px) {
  .section-hero {
    padding: 200px 0;
  }
}

.hero {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  max-width: 360px;
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 696px;
    margin-right: auto;
    margin-left: auto;
    color: var(--white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
  }
}

.button {
  color: var(--white-color);
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--accent-text-color);
  padding: 10px 24px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color var(--transform--), color var(--transform--);
}
.button:hover {
  color: var(--secondary-text-color);
  background-color: var(--background-color-button);
}
.button:focus {
  color: var(--secondary-text-color);
  background-color: var(--background-color-button);
}
@media screen and (min-width: 1200px) {
  .button {
    padding: 10px 32px;
  }
}

.benefits {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.benefits__list {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .benefits__list {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .benefits__list {
    width: calc((100% - 90px) / 4);
  }
}

.benefits__svg-wrap {
  height: 120px;
  background: #F5F4FA;
  border-radius: 4px;
  display: flex;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
}

.benefits__title {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .benefits__title {
    text-align: left;
  }
}

.benefits__text {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
}

/*2 названия секций:Наша команда и Чем мы заимаемся*/
.section-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .section-title {
    color: var(--secondary-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    margin-bottom: 50px;
  }
}

.photo-section {
  padding-top: 0px;
}
@media screen and (max-width: 1199px) {
  .photo-section {
    display: none;
  }
}

.photo-list {
  display: flex;
  justify-content: space-between;
}

.photo-list__item {
  position: relative;
}

.photo-list__text-wrap {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 69px;
  background: rgba(47, 48, 58, 0.8);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.photo-list__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.team-image {
  display: block;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team {
  background-color: #F5F4FA;
  text-align: center;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.team-item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .team-item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team-item {
    width: calc((100% - 90px) / 4);
  }
}

.team-cards {
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-name {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  padding-top: 30px;
  margin-bottom: 10px;
}

.team-work {
  font-size: 16px;
  line-height: 1.18;
  padding-bottom: 16px;
}

.team-soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.team-soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #AFB1B8;
  transition: background-color var(--transform--);
}

.team-soc-icon {
  fill: #AFB1B8;
  transition: fill var(--transform--);
}

.team-soc-link:hover,
.team-soc-link:focus {
  background-color: var(--accent-text-color);
}

.team-soc-link:hover .team-soc-icon,
.team-soc-link:focus .team-soc-icon {
  fill: var(--white-color);
}

.company-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;
}

.company-item {
  height: 92px;
  width: 100%;
  width: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .company-item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .company-item {
    width: calc((100% - 150px) / 6);
  }
}

.company-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #AFB1B8;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  transition: fill var(--transform--), background-color var(--transform--);
}
.company-link:hover {
  fill: var(--accent-text-color);
  border: 1px solid var(--accent-text-color);
}
.company-link:focus {
  fill: var(--accent-text-color);
  border: 1px solid var(--accent-text-color);
}

.footer {
  background-color: var(--background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.adress-wrap {
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .adress-wrap {
    margin-bottom: 0px;
  }
}

.logo {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.logo .logo-bottom {
  color: var(--white-color);
  display: inline-block;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .logo .logo-bottom {
    margin-bottom: 0px;
  }
}

.bottom {
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  margin-top: 20px;
}

.bottom-adress {
  color: var(--white-color);
  text-decoration: none;
  transition: color var(--transform--);
}
.bottom-adress:hover {
  color: var(--accent-text-color);
}
.bottom-adress:focus {
  color: var(--accent-text-color);
}

.bottom-nav {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: var(--transform--);
}
.bottom-nav:hover {
  color: var(--accent-text-color);
}
.bottom-nav:focus {
  color: var(--accent-text-color);
}

.bottom-list:not(:last-child) {
  margin-bottom: 9px;
}

.footer-container {
  text-align: center;
  align-items: baseline;
}
@media screen and (min-width: 768px) {
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    -moz-column-gap: 165px;
         column-gap: 165px;
    row-gap: 60px;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer-container {
    gap: 70px;
    justify-content: space-between;
    text-align: start;
    flex-wrap: nowrap;
  }
}

.footer-soc-wrap {
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer-soc-wrap {
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-soc-wrap {
    width: 206px;
    height: 80px;
  }
}

.footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 20px;
}

.footer-label {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-color);
}

.footer-iput-wrap {
  display: flex;
  position: relative;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer-iput-wrap {
    flex-direction: row;
  }
}

.footer-input {
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: #2F303A;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgb(255, 255, 255);
}
.footer-input::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.footer-input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.footer-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (min-width: 768px) {
  .footer-input {
    width: 450px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) {
  .footer-input {
    width: 358px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-input {
    margin-right: 12px;
  }
}

.footer-button {
  padding: 10px 28px;
  background: #2196F3;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-color);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1200px) {
  .footer-button {
    height: 50px;
  }
}

.team-soc-link-footer {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--white-color);
  transition: background-color var(--transform--);
}

.team-soc-icon-footer {
  fill: var(--white-color);
  transition: fill var(--transform--);
}

.team-soc-link-footer:hover,
.team-soc-link-footer:focus {
  background-color: var(--accent-text-color);
}

.team-soc-link-footer:hover .team-soc-icon,
.team-soc-link-footer:focus .team-soc-icon {
  fill: var(--white-color);
}

.portfolio-item {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  gap: 8px;
}
@media screen and (min-width: 768px) {
  .portfolio-item {
    justify-content: center;
    gap: 8px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-item {
    margin-bottom: 50px;
  }
}

.portfolio-button {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--secondary-text-color);
  background-color: var(--background-color-button);
  border: none;
  padding: 6px 26px;
  border-radius: 4px;
  transition: background-color var(--transform--), color var(--transform--);
}
.portfolio-button:hover {
  color: var(--white-color);
  background-color: var(--accent-text-color);
}
.portfolio-button:focus {
  color: var(--white-color);
  background-color: var(--accent-text-color);
}

.background-current {
  background-color: var(--accent-text-color);
  color: var(--white-color);
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-list {
  position: relative;
  transition: box-shadow var(--transform--);
}
.portfolio-list:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-list:hover .portfolio-text {
  transform: translateY(0);
}
@media screen and (min-width: 768px) {
  .portfolio-list {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-list {
    width: calc((100% - 90px) / 3);
  }
}

.portfolio-text-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(33, 150, 243, 0.9);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: var(--white-color);
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform var(--transform--);
}

.portfolio-image {
  display: block;
}

.portfolio-name {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio-link {
  text-decoration: none;
  color: inherit;
  outline: transparent;
  display: block;
  transition: box-shadow var(--transform--);
}
.portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
@media screen and (min-width: 768px) {
  .portfolio-link {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

.portfolio-subname {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
}

.portfolio-wrap {
  width: 100%;
  padding: 20px 24px;
  background-color: var(--white-color);
  border: 1px solid #EEEEEE;
}
@media screen and (min-width: 768px) {
  .portfolio-wrap {
    flex-grow: 1;
  }
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0%;
  background-color: rgba(0, 0, 0, 0.25);
  transition: opacity var(--transform--), visibility var(--transform--);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0) rotate(0);
}

.modal {
  padding: 40px;
  max-width: 100%;
  width: 450px;
  height: 609px;
  position: absolute;
  padding: 40px;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(360deg);
  transition: transform var(--transform--);
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
}

.modal-icon-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;
  transition: fill var(--transform--);
}
.modal-icon-btn:hover {
  fill: var(--accent-text-color);
}
.modal-icon-btn:focus {
  fill: var(--accent-text-color);
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.modal-input {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  padding-top: 12px;
  padding-bottom: 12px;
  transition: outline-color var(--transform--);
}

.modal-label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.modal-wrap:not(:first-child) {
  margin-top: 10px;
}
.modal-wrap:first-child {
  margin-top: 12px;
}

/* .modal-wrap:last-child {
    margin-bottom: 20px;
} */
.modal-comment {
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 16px;
  padding-top: 12px;
  padding-bottom: 0px;
  transition: border var(--transform--);
  display: block;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  line-height: 1.16;
  color: rgb(117, 117, 117);
}
.modal-comment::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgb(117, 117, 117);
}
.modal-comment:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgb(117, 117, 117);
}
.modal-comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgb(117, 117, 117);
}

.input-wrap {
  position: relative;
}

.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.modal-input {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgb(117, 117, 117);
}

.modal-input, .modal-comment:focus {
  outline-color: var(--accent-text-color);
}

.modal-input:focus + .input-icon {
  transition: fill var(--transform--);
}

.modal-input:focus + .input-icon {
  fill: var(--accent-text-color);
}

.box-wrap {
  margin-top: 20px;
  display: flex;
}

.checkbox-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .checkbox-label {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}

.span-icon {
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 7px;
}

.checkbox-link {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: var(--accent-text-color);
}

.box-icon {
  fill: transparent;
}

.modal-box:checked + .checkbox-label .span-icon {
  background-color: var(--accent-text-color);
  border-radius: 2px;
  border: none;
}

.modal-box:checked + .checkbox-label .box-icon {
  fill: var(--white-color);
}

.modal-button {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background: var(--accent-text-color);
  border-radius: 4px;
  border: none;
  padding: 10px 52px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  transition: background-color var(--transform--);
}
.modal-button:hover {
  background-color: #188CE8;
}/*# sourceMappingURL=main.css.map */