/*2 названия секций:Наша команда и Чем мы заимаемся*/
.section-title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
    margin-bottom: 30px;
    @media screen and(min-width:1200px) {
        color: var(--secondary-text-color);
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
        margin-bottom: 50px;
    }
}